{
    "metrics": [
        {"metric": "accuracy", "args": {}, "name": "accuracy"},
        {"metric": "f1", "args": {"average": "micro"}, "name": "f1_micro"},
        {"metric": "f1", "args": {"average": "macro"}, "name": "f1_macro"},
        {"metric": "f1", "args": {"average": "weighted"}, "name": "f1_weighted"}
    ],
    "splits": 5
}

